# Python / build
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# OS noise
.DS_Store
Thumbs.db

# Jupyter Book build artifacts
book/_build/
book/.jupyter_cache/
book/_static/reports/
book/_build/.jupyter_cache/
book/_build/html/reports/

# Environments
.venv/
.uv_cache/
.cache/

# VS Code
.vscode/

# Logs
*.log
